@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Mulish:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");



*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --font-primary: "Baloo Da 2",serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Muli", serif;
}

.hamburguer{
    
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer{
    right: 16rem;

}
.line{
    width: 100%;
    background-color: white;
    height: .1rem;
    box-shadow: 0.1rem 0.1rem 1px  #000000 ;
    transition: transform 1s;
}
.show-menu #line1 {
    transform: translate(.4rem, .4rem) rotate(45deg);
}
.show-menu #line3 {
    transform: translate(.2rem, -.5rem) rotate(-45deg);
}


.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}


header {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
    
}

.banner{
    position: absolute;
    top: 10%;
    left: 15%;

}
.banner h1 {
    color: rgb(255, 255, 255);
    font-size: 5rem;
    font-family: "Baloo da 2", serif;
    font-weight: 500;
    text-shadow: 0.2rem 0.3rem rgba(0, 0, 0, 0.5) ;
}

.banner p{
    color: rgb(221, 188, 41);
    font-size: 2rem;
    font-family: "Baloo da 2", serif;
    font-weight: 500;
    text-shadow: 0.2rem 0.3rem rgba(0, 0, 0, 0.2) ;
    
    
}

.sidebar{

    width: 20rem;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: -20rem;
    transition:  all 1s;

}

.show-menu .sidebar {
    right: 0;
}

.menu{
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50, -50%);
}

.menu-item{
    text-align: center;
}

.menu-link{
    font-family: "Baloo da 2", serif;
    font-size: 2rem;
    color: rgb(65, 48, 16);
    transition: color 1s;
  
}
.menu-link:hover{
    color: rgb(212, 181, 42);
    
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

.social-media i {
    color:rgb(65, 48, 16);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 1s;
}
.social-media i:hover{
    color: rgb(214, 180, 25);

}